{{! Partial for each}}

<div class="product-summary">
  <h5>Type of boat: {{title}}</h5>
  <h6>Price: {{price}}</h6>
  <button><a href="/products/{{title}}/{{_id}}">Get more details</a>
  </button>
</div>