<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>This is the homepage</h1>
    <img src="/images/iron_maiden.jpg" />

    <nav>
      <ul>
        <li><a href="/product-singer">Singer</a></li>
        <li><a href="/product-w6">W6</a></li>
        <li><a href="/product-brother">Brother</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </body>
</html>
