<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <article class="product">
      <h1>Sewing machine</h1>
      <h2>W6 N3300</h2>
      <h3>Price: 320 Euro</h3>
      <img
        src="https://m.media-amazon.com/images/I/61HxZ5NoK7L._AC_SX466_.jpg"
      />
    </article>

    <nav>
      <ul>
        <li><a href="/">Back to home</a></li>
      </ul>
    </nav>
  </body>
</html>
