<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
<article class="product">
  
  <h1>Sewing machine</h1>
  <h2>SINGER 44S Heavy Duty</h2>
  <h3>Price: 100 Euro</h3>
  <img
  src="https://i5.walmartimages.com/asr/55d35d78-f6c9-4382-a1e0-725c11ddfc16.d817e7733fee208b3101bccf3c5571d2.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF"
  />
</article>
  
    <nav>
      <ul>
        <li><a href="/">Back to home</a></li>
      </ul>
    </nav>
  </body>
</html>
